.notebook-tile {
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFE2BA;
  padding: 3%;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 1% 0;
}

.tile-image {
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

#notebooks-bar-container {
  grid-area: bar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
