.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.form-inputs {
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  width: fit-content;
}

.user-form {
  width: 50vw;
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 7px 1px rgb(199, 199, 199);
  border-radius: 15px;
}

.user-form-button {
  min-width: fit-content;
  font-size: 1rem;
  min-height: fit-content;
  height: 2.25em;
  background-color: #4056A1;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.user-form-errors {
  color: #f13c20;
  font-size: 1rem;
}

.user-form-redirect {
  padding: 2%;
  text-align: center;
  font-size: .85rem;
}

.form-title {
  color: #D77922;
  font-size: 2rem;
}

.redirect-link {
  color: #D77922;
  text-decoration: none;
}
