/* TODO Add site wide styles */

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.note-view-divider {
  display: grid;
  grid-template-areas: 'bar notes form';
  grid-template-columns: 1fr .5fr 2fr;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .note-view-divider {
    display: flex;
    flex-direction: column-reverse;
  }
}
