.nav-header {
  width: 100%;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  display: grid;
  width: 100%;
  grid-template-areas: ". a .  .  b .";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1%;
}

#logo-nav {
  grid-area: a;
  list-style-type: none;
}

#hello {
  white-space: nowrap;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 1rem;
  margin-right: 5%;
}

#links {
  grid-area: b;
  display: flex;
  align-items: center;
  gap: 3%;
  height: 100%;
  width: 100%;
}

#logo {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.5rem;
}

#logout-button {
  min-width: fit-content;
  font-size: .75rem;
  min-height: fit-content;
  height: 2.25em;
  background-color: #4056a1;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

#profile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  padding: 2%;
}

.profile-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
