#navbar {
  display: grid;
  width: 100%;
  grid-template-areas: "a c b ";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1%;
}

#search-bar-container {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#search-bar {
  width: 30rem;
  height: 1.1rem;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button {
  min-width: fit-content;
  font-size: 1rem;
  min-height: fit-content;
  height: 1.5rem;
  background-color: #D79922;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

#logo-nav {
  grid-area: a;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#hello {
  white-space: nowrap;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 1.5rem;
  margin-right: 5%;
  text-align: center;
}

#links {
  grid-area: b;
  display: flex;
  align-items: center;
  gap: 3%;
  height: 100%;
  width: 100%;
}

#logo {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.5rem;
}

#logout-button {
  min-width: fit-content;
  font-size: .85rem;
  min-height: fit-content;
  height: 2em;
  background-color: #F13c20;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
  padding: 2%;
}

#nav-notes-link {
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  padding: 2%;
  margin-right: 8%;
}

#profile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-header {
  width: 100%;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  padding: 2%;
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.user-form-modal {
  width: 30vw;
}

.edit-profile-button {
  min-width: fit-content;
  font-size: .85rem;
  min-height: fit-content;
  background-color: #4056A1;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
  padding: 2%;
}

@media screen and (max-width: 1000px) {
  #navbar {
    display: grid;
    width: 100%;
    grid-template-areas: "a b""c c";
    grid-template-columns: 1fr 1fr;
    gap: 1%;
  }

  #search-bar-container {
    display: c;
    padding: 5%;
  }

  #search-bar {
    width: 20rem;
    height: 1.1rem;
  }

  #logout-button {
    min-width: fit-content;
    font-size: .85rem;
    min-height: fit-content;
    height: fit-content;
    background-color: #F13c20;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
    padding: 2%;
  }
}
